[submodule "ext/ultimaille"]
	path = ext/ultimaille
	url = https://github.com/ssloy/ultimaille.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
